src/main/mule/cicd-jenkins-7am.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="65e3acdd-f540-4079-acb2-3527f61069a8" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="cicd-jenkins-7amFlow" doc:id="d973d7ed-7c52-44b5-a911-e3686e51b0cc" >
		<http:listener doc:name="Listener" doc:id="8f826874-f981-47cd-8c3c-46431985011e" config-ref="HTTP_Listener_config" path="/cicd"/>
		<logger level="INFO" doc:name="Logger" doc:id="549a240e-6ce2-4fe1-86f7-04faef07c633" message="Request received"/>
		<set-payload value='#["success"]' doc:name="Set Payload" doc:id="e1754e9c-5d51-4bd0-80ee-d424d65097c6" />
	</flow>
</mule>
